python-dotenv
pandas 
numpy==1.24.4
certifi
pymongo
pymongo
scikit-learn
dill
pyaml
mlflow
dagshub
fastapi
uvicorn
onnx
onnxruntime
torch==2.2.2
torchvision==0.17.2
prometheus_fastapi_instrumentator

##-e .